
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 16px;
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.parent{
    display: flex;
    flex-wrap: wrap;

}

.card img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    
}


.card{
    width: 300px;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(94, 102, 102);
}

.card button{
    padding: 10px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 20px 30px;
    

}