.button {
  display: block;              
  margin: 10px auto;         

  background-color: red;
  color: white;

  border: none;               
  border-radius: 8px;

  padding: 8px 16px;
  cursor: pointer;

  font-size: 14px;
}
